*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-family: "Open Sans", sans-serif;
}

body{
  margin: 88px 80px 137px 80px;
}

h1{
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 40px;
  margin-top: 8px;
}

.main-img{
  width: 100%;
}

.secondary-images{
  width: 100%;
  margin-top: 48px;
}

h4{
  font-size: 16px;
  font-weight: bold;
  color: #E1624F;
  text-transform: uppercase;
}

h2{
  margin-top: 4px;
}

.local-places{
  margin-top: 20px;
}

.content-card-paragraph{
  font-weight: bold;

}

ul, li{
  margin-left: 15px;
  color: #0C51A7;
  font-weight: bold;
}

.color-purple{
  color: #591B98;
}

.color-pink{
  color: #E5245E;
}

.color-orange{
  color: #E95E10;
}

.subtitle{
  font-size: 16px;
  font-style: italic;
  text-align: center;
  margin-bottom: 40px;
}

.divider{
  width: 100%;
  height: 1px;
  margin: 36px 0;
  background-color: #d9d9d9;
}

.title-list h4{
  margin-top: 64px;
}

.paragraph{
  text-align: center;
  margin-bottom: 64px;
  margin-top: 8px;
}

